        
        <header id="headerb">           
            <div id='vid'></div>
            <img id="logo" src={{asset('build/image/logo_EF2.png')}} alt="logo">
            <nav id="menu">
                <div id="mn">
                    <a id='b1' href={{path('app_pages_actus')}} target="">
                        <div id="m1">Actualité</div>
                        <div id='a1'></div>
                    </a>
                    <a id='b2' href={{path('app_pages_albums')}} target="">
                        <div id="m2" >Albums</div>
                        <div id='a2'></div>
                    </a>
                    <a id='b3' href={{path('app_pages_concerts')}} target="">
                        <div id="m3">Concerts</div>
                        <div id='a3'></div>
                    </a>
                    <a id='b4' href={{path('app_pages_shop')}} target="">
                        <div id="m4">Accessoires</div>
                        <div id='a4'></div>
                    </a>
                </div>
            </nav>
            {% if app.user %}       
                <div id="but">
                    <a id="button1" id="con"  href="{{path('app_logout')}}" target="">Je me déconnecte</a>
                </div>
            {% else %}
                <div id="but">
                    <a id="button1" id="con"  href="{{path('app_login')}}" target="">Je me connecte</a>
                    <a id="button2" id="ins" href='*' target="">Je m'inscris</a>
                </div>
            
            {% endif %}
            
        </header>