{% extends 'layouts/base3.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
    <div id="vid5"></div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1 class="h3 mb-5 mt-5 font-weight-normal">Je crée un compte</h1>

            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(registrationForm.prenom) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(registrationForm.nom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_row(registrationForm.pseudo) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                    </div>
                </div>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary btn-block">Je valide</button>
                <p class="my-5 text-center text-muted"><span class="">Tu as déjà un compte ?</span><a href="{{path('app_login')}}">Connecte-toi !</a></p>
            {{ form_end(registrationForm) }}
            
        </div>
    </div>
{% endblock %}
