{% extends 'layouts/base3.html.twig' %}

{% block title extrait.titre %}

{% block body %}
    <div class="row">
        
        <div class="mt-5 col-md-6 mx-auto">
           <article class="mt-5 mb-3  bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                    <img src="{{ (extrait.photo ? vich_uploader_asset(extrait) : asset('build/images/placeholder.jpg'
                        ))| imagine_filter('squared_thumbnail_medium') }}" alt="{{ extrait.titre }}" class="w-100 " />
                </div>
                <div class="p-3">
                    <h1 class="h5 text-secondary">{{extrait.titre}}</h1>
                    <p class="text-muted text-break">
                        <small>
                            Soumis <time datetime="{{ extrait.createdAt|date('d-m-Y H:i:s')}}"> </time>
                        </small>
                    </p>
                    
                    {# <div class="pt-3">               
                        <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="btn btn-light">Edit</a> 
                        <a href="#" onclick="event.preventDefault();confirm('Êtes-vous bien sûr(e) ?') && document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Delete</a> 
                            
                        <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display:none">        
                            <input type="hidden" name="csrf_token" value="{{csrf_token('pin_deletion_'~ pin.id)}}">
                            <input type="hidden" name="_method" value="DELETE"> 
                        </form>                     
                    </div> #}
                </div>
            </article>
            
        </div> 
    </div>  
{% endblock %}